.embeds {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@include media('>=md') {
		flex-direction: row;
	}

	.embed {
		display: block;
		margin: 1em;
		justify-content: center;
		text-align: center;
	}
}
