<section class="introduction introduction-dark parallax-window" 
         data-speed="0.4" 
		 data-parallax="scroll" 
		 data-image-src='{{ `images/background4.jpg` | absURL }}'>
	<div class="quote">
		<div class="quote-text">
	“Ich bin die Energie, die ich mir in meinem 
	Leben wünsche”
		</div>
		<div class="quote-author">
			Laura Malina Seiler
		</div>
	</div>
</section>
<section class="introduction introduction-light">
	<p><b>Herzlich Willkommen</b> zum Meditations-Retreat <b>„pure&nbsp;clean&nbsp;Energy“</b></p>
	<br/>
	<img style="width: 45%;" src="{{ `images/logo.png` | absURL }}" alt="Pure Clean Energy Meditieren in Niedersachsen"/>
	<p>Wir freuen uns mit Dir gemeinsam die Reise zum inneren Selbst anzutreten.<br/><b>Komm auf Deine eigene Reise!</b></p>
</section>
<section 
	id="about"
	class="introduction introduction-dark parallax-window" 
	data-speed="0.4" 
	data-parallax="scroll" 
	data-image-src='{{ `images/background3.jpg` | absURL }}'
>
	<h2>Das erwartet Dich bei uns!</h2>
	<p>
		Auf einem exklusiven Gelände bieten wir Dir die Möglichkeit dem Alltag zu entfliehen und auf erholsame Art und Weise zu Deinem inneren Frieden zu finden. 
	</p>
	<p>
		Du hast, wie bei einem Buffet, die Möglichkeit aus verschieden Angeboten die passenden Aktivitäten zu finden. Unsere erfahrenen Meditations- und Yogacoaches  stehen Dir jederzeit zur Verfügung.
	</p>
</section>
